* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    background: #fff;
    min-height: 100vh;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 600px;
    margin: 0 auto;
}

.logo img {
    width: 32px;
    height: 32px;
}

.title {
    text-align: center;
    font-size: 24px;
    line-height: 1.3;
    margin: 80px 16px 24px;
    color: #111;
    font-weight: 600;
}

.description {
    margin: 24px 16px;
    color: #848F9A;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    max-width: 480px;
    margin: 0 auto 32px;
}

.list {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin: 24px 0;
    padding: 0 16px;
}

.count {
    height: 24px;
    width: 24px;
    min-width: 24px;
    border-radius: 5px;
    background: #D2D6DA;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.list p {
    color: #111;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding-top: 2px;
}

.video-thumbnail {
    width: 100%;
    border-radius: 8px;
    margin: 16px 0;
}

.cta-button {
    display: block;
    width: 100%;
    margin: 32px auto;
    padding: 14px;
    background: #6C4EFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}


@media (min-width: 768px) {
    .cta-button {
        width: 500px;
    }
}

.chapters-modal {
    position: fixed;
    bottom: 16px;
    left: 0;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    transform: translateY(85%);
    transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .chapters-modal {
        bottom: 32px;
    }
}


@media (min-width: 1200px) {
    .chapters-modal {
        bottom: 48px;
    }
}

.modal-checkbox:checked~.chapters-modal {
    transform: translateY(0);
}

.chapter-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.chevron {
    cursor: pointer;
    transition: transform 0.3s;
    margin: auto;
}

.modal-checkbox:checked~.chapters-modal .chevron {
    transform: rotate(180deg);
}

.now-playing {
    display: none;
    color: #0066FF;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

.modal-checkbox:checked~.chapters-modal .now-playing {
    display: block;
}


.chapter-content {
    padding: 0 16px 0 16px;
}



.chapter-title {
    color: #666;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 4px;
}

.chapter-subtitle {
    color: #111;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 32px;
}

.chapter-section {
    margin-bottom: 24px;
}

.chapter-section-title {
    color: #666;
    font-size: 15px;
    margin-bottom: 16px;
}

.chapter-item {
    color: #111;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 0;
    cursor: pointer;
}

.chapter-item.active {
    color: #0066FF;
}

.modal-checkbox:checked~.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    pointer-events: none;
    opacity: 0.9;

}
